{% extends "_layouts/default.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<div class="container">
  <form class="form-signin" method="POST">
    <h2 class="form-signin-heading">请登录</h2>
    {{ form.hidden_tag() }}
    {{ form.name.label(class="sr-only") }} 
    {{ form.name(class='form-control') }}
    {{ form.password.label }} 
    {{ form.password(class='form-control') }}
    {{ form.submit() }}
  <div class="page-header">
      <h1>Login</h1>
  </div>
  <div class="col-md-4">
      {{ wtf.quick_form(form) }}
  </div>
</div> <!-- /container -->
{% endblock %}
