{% extends "_layouts/manage_default.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block manage_content %}
<div class="page-header">
  <ul class="nav nav-pills" role="tablist">
    <li role="presentation" class="active">
    <a href="#add" aria-controls="add" role="tab" data-toggle="tab">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 添加
    </a>
    </li>
    <li role="presentation">
    <a href="#deletes" aria-controls="deletes" role="tab" data-toggle="tab">
      <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> 删除
    </a>
    </li>
  </ul>
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="add">
      {{ wtf.quick_form(add_form) }}
    </div>
    <div role="tabpanel" class="tab-pane fade" id="deletes">
      {{ wtf.quick_form(del_form) }}
    </div>
  </div><!-- tab-content -->
</div>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>计算机ID</th>
        <th>计算机编号</th>
        <th>计算机使用者</th>
        <th>上机时间</th>
        <th>上级费用</th>
      </tr>
    </thead>
    <tbody>
      {% for computer in computer_list %}
      <tr>
        <td>{{ computer.id }}</td>
        <td>{{ computer.name }}</td>
        <td>{% if computer.user != None %}{{ computer.user.username }}{% else %}无{% endif %}</td>
        <td>dolor</td>
        <td>sit</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
