{% extends "_layouts/manage_default.html" %}

{% block manage_content %}
<div class="page-header">
  <!-- current_user 由Flask-Login定义，在视图函数和模板中自动可用-->
  <h1>hello, 管理员{% if current_user.is_authenticated %}{{ current_user.username }}{% else %}Stranger{% endif %}!</h1>
</div>
<h2 class="sub-header">正在使用的电脑</h2>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>计算机id</th>
        <th>计算机编号</th>
        <th>计算机使用者</th>
        <th>上机开始时间</th>
        <th>上机花费时间</th>
        <th>上机费用</th>
      </tr>
    </thead>
    <tbody>
      {% for computer in computer_list %}
      {% if computer.user != None %}
      <tr>
        <td>{{ computer.id }}</td>
        <td>{{ computer.name }}</td>
        <td>{{ computer.user.username }}</td>
        <td>{{ computer.start_time.__str__().split('.')[0] }}</td>
        <td class="spend_time">{{ computer.spend_time.__str__().split('.')[0] }}</td>
        <td class="spend_money">{{ computer.spend_time.seconds }}</td>
      </tr>
      {% endif %}
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
