{% extends "_layouts/manage_default.html" %}

{% block manage_content %}
<div class="page-header">
  <!-- current_user 由flask-login定义，在视图函数和模板中自动可用-->
  <h1>hello, 管理员{% if current_user.is_authenticated %}{{ current_user.username }}{% else %}stranger{% endif %}!</h1>
</div>
<h2 class="sub-header">所有用户</h2>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>用户ID</th>
        <th>用户名</th>
        <th>用户邮箱</th>
        <th>使用电脑</th>
        <th>上机时间</th>
        <th>上机费用</th>
      </tr>
    </thead>
    <tbody>
      {% for user in user_list %}
      {% if user.computers.first() != None %}
      <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.computers.first().name }}</td>
        <td>{{ user.computers.first().spend_time }}</td>
        <td>{{ user.computers.first().spend_time }}</td>
      </tr>
      {% endif %}
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
