{% extends "_layouts/manage_default.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block manage_content %}
<div class="page-header">
    <h1>{{ computer.name }}</h1>
    {% if computer.memo %}<p>{{ computer.memo }}</p>{% endif %}
    <p>Member since {{ computer.start_time.__str__().split('.')[0] }}. Spend_time {{ computer.spend_time.__str__().split('.')[0] }}.</p>
</div>
<div class="row">
  <div class="col-md-8">.col-md-8</div>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>计算机id</th>
            <th>计算机编号</th>
            <th>计算机使用者</th>
            <th>上机开始时间</th>
            <th>上机花费时间</th>
            <th>上机费用</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            {% if computer != None %}
            <td>{{ computer.id }}</td>
            <td>{{ computer.name }}</td>
            {% if computer.user != None %}
            <td>{{ computer.user.username }}</td>
            <td>{{ computer.start_time.__str__().split('.')[0] }}</td>
            <td class="spend_time">{{ computer.spend_time.__str__().split('.')[0] }}</td>
            <td class="spend_money">{{ computer.spend_time.seconds }}</td>
            {% else %}
            <td>无</td>
            <td>无</td>
            <td>无</td>
            <td>无</td>
            {% endif %}
            {% endif %}
          </tr>
        </tbody>
      </table>
    </div>
  <div class="col-md-4">
    {{ wtf.quick_form(edit_profile_form) }}
  </div>
</div>
{% endblock %}
