{% extends "_layouts/manage_default.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block manage_content %}
<div class="page-header">
      {{ wtf.quick_form(del_form) }}
</div>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>计算机id</th>
        <th>计算机编号</th>
        <th>计算机使用者</th>
        <th>上机开始时间</th>
        <th>上机花费时间</th>
        <th>上机费用</th>
      </tr>
    </thead>
    <tbody>
      {% for computer in computer_list %}
      <tr>
        <td>{{ computer.id }}</td>
        <td>{{ computer.name }}</td>
        {% if computer.user != None %}
        <td>{{ computer.user.username }}</td>
        <td>{{ computer.start_time }}</td>
        <td class="spend_time">{{ computer.spend_time }}</td>
        <td>{{ computer.spend_time }}</td>
        {% else %}
        <td>无</td>
        <td>无</td>
        <td>无</td>
        <td>无</td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
