      <div class="page-header">
        <!-- current_user 由Flask-Login定义，在视图函数和模板中自动可用-->
        <h1>Hello, {% if current_user.is_authenticated %}{{ current_user.username }}{% else %}Stranger{% endif %}!</h1>
      </div>
      <div class="row placeholders">
        <div class="col-xs-6 col-sm-3 placeholder">
          <img class="img-responsive" alt="Generic placeholder thumbnail" data-src="holder.js/200x200/auto/sky">
          <h4>Label</h4>
          <span class="text-muted">Something else</span>
        </div>
        <div class="col-xs-6 col-sm-3 placeholder">
          <img class="img-responsive" alt="Generic placeholder thumbnail" data-src="holder.js/200x200/auto/vine">
          <h4>Label</h4>
          <span class="text-muted">Something else</span>
        </div>
        <div class="col-xs-6 col-sm-3 placeholder">
          <img class="img-responsive" alt="Generic placeholder thumbnail" data-src="holder.js/200x200/auto/sky">
          <h4>Label</h4>
          <span class="text-muted">Something else</span>
        </div>
        <div class="col-xs-6 col-sm-3 placeholder">
          <img class="img-responsive" alt="Generic placeholder thumbnail" data-src="holder.js/200x200/auto/vine">
          <h4>Label</h4>
          <span class="text-muted">Something else</span>
        </div>
      </div>

      <h2 class="sub-header">管理信息</h2>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>计算机序号</th>
              <th>上机次数</th>
              <th>上机时间</th>
              <th>上级费用</th>
            </tr>
          </thead>
          <tbody>
          <tr>
            <td>1,001</td>
            <td>Lorem</td>
            <td>ipsum</td>
            <td>dolor</td>
            <td>sit</td>
          </tr>
          </tbody>
        </table>
      </div>
