{% extends "_layouts/user_default.html" %}

{% block user_content %}
<div class="page-header">
  <!-- current_user 由flask-login定义，在视图函数和模板中自动可用-->
  <h1>Hello, 用户{% if current_user.is_authenticated %}{{ current_user.username }}{% else %}Stranger{% endif %}!</h1>
</div>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>用户ID</th>
        <th>用户名</th>
        <th>邮箱地址</th>
        <th>使用电脑</th>
        <th>开始时间</th>
        <th>上机时间</th>
        <th>上机费用</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.email }}</td>
        {% if user_computer %}
        <td>{{ user_computer.name }}</td>
        <td>{{ user_computer.start_time.__str__().split('.')[0] }}</td>
        <td class="spend_time">{{ user_computer.spend_time.__str__().split('.')[0] }}</td>
        <td class="spend_money">{{ user_computer.spend_money }}</td>
        {% else %}
        <td></td>
        <td></td>
        <td class="spend_time"></td>
        <td class="spend_money"></td>
        {% endif %} 
      </tr>
    </tbody>
  </table>
</div>
{% endblock %}
