<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
<meta name="renderer" content="webkit" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>计算机管理系统</title>
<meta name="description" content="计算机管理系统">
<link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico')}}">
<link rel="icon" type='image/x-icon' href="{{ url_for('static', filename='images/favicon.ico')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
<!--[if lt IE 9]>
<script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
