{% extends "bootstrap/base.html" %}

{% block doc %}
<!doctype html>
<html lang="zh-cn">
<head>
  {% block head%}
    {% include '_includes/head.html' %}
  {% endblock %}
</head>
<body style="position: relative; padding-top: 70px;">
  {% include '_includes/nav.html' %}

  {% block content %}

    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      {{ message }}
    </div>
    {% endfor %}

  {% endblock %}

  {% block js %}
    {% include '_includes/js.html' %}
  {% endblock %}
</body>
</html>
{% endblock %}
