{% extends "_layouts/default.html" %}

{% block content %}
{{ super() }}
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button class="navbar-toggle collapsed" aria-expanded="false" aria-controls="navbar" type="button" data-toggle="collapse" data-target="#navbar">
        <span class="sr-only">toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ url_for('user.information') }}">机房管理系统</a>
    </div>
    <div class="navbar-collapse collapse" id="navbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ url_for('user.logout') }}">退出登录</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="container-fluid">
  {% block user_content %}{% endblock %}
</div>
{% endblock %}
