{% extends "_layouts/index_default.html" %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css')}}">
{% endblock %}

{% block index_content %}

<div class="container">
  <form class="form-signin" method="POST">
    <h2 class="form-signin-heading">请登录</h2>
    {{ wtf.quick_form(form) }}
  </form>
</div> <!-- /container -->
{{ moment.lang('zh')}}
<p>The local date and time is {{ moment(current_time).format('LLL') }}.</p>
<p>The local date and time is {{ moment(current_time).format('YYYY-MM-DD HH:mm:ss') }}.</p>
<p>That was {{ moment(current_time).fromNow(refresh=True) }}</p>
{% endblock %}
