{% extends "_layouts/default.html" %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css')}}">
{% endblock %}

{% block content %}

<div class="container">
  <form class="form-signin" method="POST">
    <h2 class="form-signin-heading">注册用户</h2>
    {{ form.hidden_tag() }}
    {{ form.email.label }} 
    {{ form.email(class='form-control') }}
    {{ form.username.label }} 
    {{ form.username(class='form-control') }}
    {{ form.password.label }} 
    {{ form.password(class='form-control') }}
    {{ form.password2.label }} 
    {{ form.password2(class='form-control') }}
    {{ form.submit() }}
  </form>
</div> <!-- /container -->
{% endblock %}
